{% include 'Partials/base.twig' %}

<section class="main-content">
    {% for notification in notifications %}
        <div class="alert alert-{{ notification.type }}">
            {{ notification.message }}
        </div>
    {% endfor %}
    <h1 class="news-box-single">Articles</h1>
    <div class="news-container">
        {% if articles.isEmpty() %}
            <p class="news-box-single">No results found!</p>
        {% else %}
            {% for article in articles.getNewsCollection() %}
                <div class="news-box">
                    <a href="/article/{{ article.getId() }}">
                        <h2>{{ article.getTitle() }}</h2>
                    </a>
                    <p>{{ article.getDate() }}</p><br>
                    <p>{{ article.getDescription() }}</p><br>
                    <a href="/article/{{ article.getId() }}" class="edit-article-btn">Read More</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% include 'Partials/footer.twig' %}

