{% include 'Partials/base.twig' %}

<section class="main-content">
    {% for notification in notifications %}
        <div class="alert alert-{{ notification.type }}">
            {{ notification.message }}
        </div>
    {% endfor %}
    <div class="news-container">
        <div class="news-box-single">
            <h2>{{ article.getTitle() }}</h2><br>
            <h5>{{ article.getDescription() }}</h5><br>
            <p>{{ article.getText() }}</p><br>

            <div class="article-actions">
                <a href="/edit/{{ article.getId() }}" class="edit-article-btn">Edit Article</a>

                <form action="/delete/{{ article.getId() }}" method="post" class="delete-article-form">
                    <button type="submit" class="delete-article-btn">DELETE</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% include 'Partials/footer.twig' %}