{% include 'Partials/base.twig' %}

<section class="main-content">
    <h1>Edit Article</h1>
    <a href="/article/{{ article.getId() }}">Go back</a>
    <form action="/edit" method="post">
        <input type="hidden" name="id" value="{{ article.getId() }}">

        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required value="{{ article.getTitle() }}" oninvalid="this.setCustomValidity('Please enter a title')" oninput="this.setCustomValidity('')">
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required value="{{ article.getDescription() }}" oninvalid="this.setCustomValidity('Please enter a description')" oninput="this.setCustomValidity('')">
        </div>
        <div>
            <label for="text">Text:</label>
            <textarea id="text" name="text" required oninvalid="this.setCustomValidity('Please enter a text')" oninput="this.setCustomValidity('')">{{ article.getText() }} </textarea>
        </div>
        <button type="submit">Update</button>
    </form><br>
    <form action="/delete/{{ article.getId() }}" method="post" class="delete-article-form" onsubmit="return confirmDelete()">
        <button type="submit" class="delete-article-btn">DELETE</button>
    </form>
</section>
<script>
    function confirmDelete() {
        return confirm("Do you want to delete this article?");
    }
</script>

{% include 'Partials/footer.twig' %}